* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #312e2b;
}

#background-canvas {
}

img {
    pointer-events: none !important;
}

canvas {
    /* border:1px solid #000000; */
    grid-column: 2;
    grid-row: 1;
}

.canvas-container {
    position: relative;
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    width: 640px;
    margin: auto;
}

.screen-cover {
    display: none;
    grid-column: 2;
    grid-row: 1;
    width: 640px;
    height: 640px;
    background-color: rgba(0, 0, 0, .4);
    z-index: 100;
    
}

.move-history {
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    position: absolute;
    /* grid-row: 1;
    grid-column: 1; */
    left: -270px;
    width: 250px;
    height: 640px;
    background-color: #2b2926;
    color: #ddd;
    border-radius: 5px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #444 #222;
}

.turn-count {
    color: #888;
}

.line:nth-child(even) {
    background-color: #272522;
}

.turn-moves {
    display: flex;
    
}

.line {
    white-space: pre;
    padding: .3em .4em .3em 0;
}

.turn-count-number {
    padding-left: .6em;
}

.white-turn, .black-turn {
    text-align: center;
}

.reset-container {
    position: absolute;
    top: 340px;
    right: -150px;
    text-align: center;
    margin: auto; 
}

#reset {
    margin: auto;
}

.check-mate {
    display: none;
    background-color: #312e2b;
    color: #ddd;
    grid-column: 2;
    grid-row: 2;
    width: 320px;
    height: 250px;
    text-align: center;
    margin: auto;
    font-size: 30px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 8px;
}

.end-game-text {
}

.winner {
    margin-top: .3em;
}

.end-screen-wrapper {
    margin: auto;
    margin-top: 2em;
}

.button {
    font-size: 24px;
    margin-top: 1.5em;
    background-color: #57a301;
    color: white;
    padding: .5em 2em;
    border: 1px solid #312e2b;
    border-radius: 7px;
}

.button:hover{
    background-color: #7ec132;
    cursor: pointer;
}

.promote {
    position: absolute;
    /* border: 2px solid black; */
    background-color: #7c472a;
}

.white, .black {
    display: none;
}

.promote div {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 81px;
    height: 80px;
}

.promotion img{
    padding-left: 6px;
}

.promotion:hover {
    background-color:#aaa;
    cursor: pointer;
}

.timer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color: #dddddd;
    min-width: 80px;
    /* padding: .2em .5em .2em .5em; */
    padding: .21em .5em .1em .4em;
    margin: .2em 0;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
    white-space: nowrap;
}

.active {
    background-color: #ddd;
    color: #312e2b;
}

.game {
    position: relative;
    width: 640px;
    margin: auto;
}

.screen-wrapper { 
    display: none;
    grid-column: 2;
    grid-row: 1;
    margin: auto;
    width: 350px;
    height: 350px;
    background-color: #312e2b;
    border: none;
    border-radius: 8px;
    z-index: 101;
}

.play-button {
    display: block;
    margin: auto;
    margin-top: 6em;
}

.choose-game-type {
    margin-top: 3.7em;
    display: none;
    text-align: center;
}

.choose-game-type button {
    width: 180px;
    padding-left: 0;
    padding-right: 0;
}

.choose-time {
    display: none;
    margin-top: 4.3em;
}

.time {
    width: 170px;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    margin-top: 1em;
    display: block;
}

.connection-status {
    display: none;
    /* background-color: black; */
    /* width: 200px; */
    height: 100px;
    margin: auto;
    text-align: center;
}

.connection-status > p {
    padding: 2em 0 2em 0;
    color: white;
    font-size: 30px;
}

.count-down {
    display: none;
    font-size: 30px;
    color: white;
}

.info-button {
    padding: .5em .5em 0 .5em;
    font-size: 20px;
    align-self: center;
    border: #888;
    border-radius: 5px;
    align-content: center;
    background-color: #111;
    color: #dddddd;
    height: 45px;
    margin-right: .3em;
}

.new-game {
    white-space: pre;
    padding-bottom: .5em;
}

.resign {
    white-space: pre;
    display: flex;
    /* background-color: #222; */
    border: none;
    margin-right: .4em;
}

.resign img {
    height: 23px;
}

.info-button:hover {
    background-color: #444;
    cursor: pointer;
}

.player-one-connection-wrapper, .player-two-connection-wrapper{
    width: 60%;
    margin: auto;
    text-align: center;
}

.player-one-connection, .player-two-connection{
    /* margin: auto; */
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* display: flex;
    justify-content: space-around; */
    /* float: left; */
}

.player-one-connection > p, .player-two-connection > p {
    text-align: left;
    grid-column: 2 / 6;
}

.connection-circle {
    /* align-self: center; */
    margin-right: 1em;
    grid-column: 1;
    background-color: black;
    /* width: 25px;
    height: 25px; */
    /* border-radius: 100%; */
    /* border: 1px solid black; */
}

.player-two-connection {
    align-self: flex-end;
    margin-right: .5em;
}

.player-one-connection{
    align-self: flex-end;
    margin-right: .5em;
}

.connection-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 1px;
}


.connected {
    filter: invert(23%) sepia(91%) saturate(3355%) hue-rotate(110deg) brightness(89%) contrast(105%);
    /* background-color: green; */
}

.captured-pieces {
    font-size: 35px;
    width: 500px;
}

.captured-black {
    color: black;
    text-shadow: 
        -1px -1px 1px #aaa,
         1px -1px 1px #aaa,
        -1px  1px 1px #aaa,
         1px  1px 1px #aaa;
}

.captured-white{
    color: white;
    text-shadow: 
        -1px -1px 1px #000,
         1px -1px 1px #000,
        -1px  1px 1px #000,
         1px  1px 1px #000;
}

.pawn {
    letter-spacing: -18px;
}

.others {
    margin-left: .3em;
    letter-spacing: -4px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.enemy-player.info .captured-pieces{
    align-self: flex-end;
}






@media screen and (max-width:700px) {
    .move-history {
        position: relative;
        grid-row: 1;
        grid-column: 2;
    }

    .screen-cover, .screen-wrapper {
        z-index: 999;
    }

    .connection-icon {
        width: 30px;
        height: 30px;
        margin-bottom: 1px;
    }
}
