<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <title>Chess</title>
</head>
<body>
    <div class="canvas-container">
        <canvas id="background-canvas" width="640px" height="640px"></canvas> 
        <canvas id="canvas" width="640px" height="640px"></canvas> 
        <div id="check-mate">
            <p>Check Mate</p>
            <p class="winner"></p>
            <button class="restart">Restart Game</button>
        </div>
    </div>
    <div class="reset-container">
        <button id="reset">Reset</button>
    </div>
    <script src="static/script.js"></script>
</body>
</html>